@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/*/////////////////////////////////////////////////////////////// */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #FFF;
}

section{
  width: 100%;
  height: 100vh;
}
::-webkit-scrollbar
{
  width: 12px;
}
::-webkit-scrollbar-thumb
{
  background:  #15b0c9;
  border-radius: 6px;
}
/* frontpage:  */

/*/////////////////////////////////////////////////////////////// */

/* menu:  */

#socialmedia{
  height: 20px;
  width: 20px;
}

li, a, button{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
}

#logo{
 max-height: 120px;
 cursor: pointer;
 margin: auto;
}

.nav-links{
  list-style: none;
  margin: -60px 0 0 410px
}

.nav-links li{
  display: inline-block;
  padding: 0px 15px;
}


.link::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #15b0e9;
  transition: width .3s;
}

.link:hover::after{
  width: 100%;
  //transition: width .3s;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #15b0c9;
  margin: 5px;
}

/*  koniec menu:  */


#rectangle{
  height: 5px;
  width: 150px;
  background: #15b0c9;
  margin-left: 8%;
  margin-top: 10%;
  display: block;
}

#text{
  margin-left: 7%;
}

.front-text{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.dofe{
  font-weight: bolder;
  font-size: 120px;
}

.na{
  font-size: 40px;
}

.gk2{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #15b0c9;
    margin-top: -2%;
}

#front-image{
  max-width: 55%;
  align-items: flex-end;
  margin-left: 45%;
  margin-top: -23%;
}

/* frontpage:  */

/*/////////////////////////////////////////////////////////////// */

/* začiatok o nas */

.about{
  height: 700px;
  width: auto;
  background-color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
  margin-top: 4%;
}


.teamwork-image{
  max-width: 50px;
  background-color: #2a2a2a;
  position: absolute;
  margin: 10% 0 0 10%;
}

#nastim{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #15b0c9;
  background-color: #2a2a2a;
  position: absolute;
  margin: 15% 0 0 10% ;
}

.about-text{
  background-color: #2a2a2a;
  color: #FFF;
  position: absolute;
  margin-top: 22%;
  margin-left: 10%;
  max-width: 35%;
}

#team{
  position: absolute;
  background-color: #2a2a2a;
  max-height: 65%;
  float: right;
  margin-left: 48%;
  margin-top: 10%;
}

/* koniec o nas */

/*/////////////////////////////////////////////////////////////// */

/* začiatok čo je dofe */
#cojedofe{
  height: auto;
  background-color: #FFF;
}

.name{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #2a2a2a;
  position: relative;
  font-size: 40px;
  margin-left: -2%;
  margin-top: 4%;
}

.dofe-color{
  color: #15b0c9;
  font-size: 50px;
}

#column{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #15b0c9;
  margin-left: 10%;
  margin-top: 2%;
  line-height: 0.85;
  margin-bottom: 5%;
}

#idea{
  max-width: 60px;
  margin-bottom: 5%;
}

#list{
  max-width: 50px;
  margin-bottom: 5%;
}

#medal{
  max-width: 60px;
  margin-bottom: 5%;
}

.column{
  font-size: 14px;
}


.column-left{
  float: left; width: 33.333%;
  padding: 3%;
}
.column-right{
  float: right; width: 33.333%;
    padding: 3%;
}
.column-center{
   display: inline-block; width: 33.333%;
     padding: 3%;
 }

 /* koniec čo je dofe*/

 /*/////////////////////////////////////////////////////////////// */

/* začiatok galeria */

.gallery{
  margin: 5vh;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery div{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 20%;
  margin: .5vw;
}

.gallery div img{
  width: 100%;
}

/* koniec galeria*/

/*/////////////////////////////////////////////////////////////// */


/* začiatok blog*/


#blog-description{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  font-family: 'Open Sans', sans-serif;
  color: #15b0c9;
  font-weight: bolder;
  position: absolute;
}

.blog-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #15b0c9;
}

.description{
  color: #2a2a2a;
  font-weight: normal;
  font-style: 30px;
}

.slider{
  width: 576px;
  overflow: hidden;
  position: absolute;
  right: 0;
  margin: 12% 5%;
}

#slides{
  width: calc(960px * 7);
  animation: glisse 60s infinite;
}

.slide{
  float: left;
}

.slide img{
  width: 576px;
}

@keyframes glisse {
    0%{
      transform: translateX(0);
    }
    14%{
      transform: translateX(0);
    }
    16.6%{
      transform: translateX(-576px);
    }
    31%{
      transform: translateX(-576px);
    }
    33.2%{
      transform: translateX(-1152px);
    }
    47%{
      transform: translateX(-1152px);
    }
    49.6%{
      transform: translateX(-1728px);
    }
    64%{
      transform: translateX(-1728px);
    }
    66.4%{
      transform: translateX(-2306px);
    }
    81%{
      transform: translateX(-2306px);
    }
    83%{
      transform: translateX(-2880px);
    }
    98%{
      transform: translateX(-2880px);
    }
    100%{
      transform: translateX(-3456px);
    }
    114%{
      transform: translateX(-3456px);
    }
    116%{
      transform: translateX(-4032px);
    }
}

/* koniec blog */

/* začiatok kontakt */

#contact{
  background-color: #4682B4;
  height: 80%;
  width: 100%;
  margin: auto;
  position: absolute;
}

.footer{
  background-color:	#4682B4;
  width: auto;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;
}


.dofe-png{
  width: 200px;
  background-color:	#4682B4;
  position: relative;
}


.gk2-png{
  max-width: 70px;
  background-color:	#4682B4;
  position: relative;
  left: 10%;
}

#footer-description{
  font-family: 'Open-Sans', sans-serif;
  background-color: #4682B4;
  color: #FFF;
  width: 100%;
  position: relative;
  top: 8%;
}

#socials{
  background-color: #4682B4;
  margin-top: 5%;
}

#socials a {
  background-color: #4682B4;
  margin: 10px;
  left: 0
}
#socials img{
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #4682B4;
}

.copy{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: #4682B4;
  color: #FFF;
  position: relative;
  top: 40px;
}

.footer-column-left{
  float: left; width: 33.333%;
  padding: 3%;
  background-color: #4682B4;
}
.footer-column-right{
  float: right; width: 33.333%;
    padding: 3%;
    background-color: #4682B4;

}
.footer-column-center{
   display: inline-block; width: 33.333%;
     padding: 3%;
     background-color: #4682B4;
 }
.footer-column-center a{
        display: inline-block;
        width: 40%;
}

 #links{
   background-color: #4682B4;
   position: static;
   color: #FFF;
   font-family: 'Open Sans', sans-serif;
   font-size: 22px;
   font-weight: bolder;
   margin-top: 5%;
   margin-left: 5%;
 }

#link-group{
  background-color: #4682B4;
  margin-top: 10%;
  position: relative;
  left: 5%;
}
 .link-text{
   position: static;
   background-color: #4682B4;
   color: #FFF;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: normal;
 }
 .link-text::after{
   content: '';
   display: block;
   width: 0;
   height: 2px;
   background: #15b0e9;
   transition: width .3s;
 }

 .link-text:hover::after{
   width: 30%;
   //transition: width .3s;
 }

#contact-title{
  background-color: #4682B4;
  position: static;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 5%;
}

#adress{
  background-color: #4682B4;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin-top: 10%;
}

.contact-data{
  background-color: #4682B4;
  color: #FFF;
}

/*///////////////TABLET//////////////////// */

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
  #front-image{
    display: none;
  }
  .teamwork-image{
    max-width: 50px;
    background-color: #2a2a2a;
    position: absolute;
    margin: 10% 0 0 10%;
  }

  #nastim{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #15b0c9;
    background-color: #2a2a2a;
    position: absolute;
    margin: 18% 0 0 10% ;
  }

  .about-text{
    background-color: #2a2a2a;
    color: #FFF;
    position: absolute;
    margin-top: 25%;
    margin-left: 10%;
    max-width: 35%;
  }
  #team{
    display: none;
  }

}



/*/////////////////////////PHONE////////////////////////////////////// */

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }

  #logo{
    max-height: 100px;
  }
  #front-image{
    display: none;
  }
  .teamwork-image{
    max-width: 50px;
    background-color: #2a2a2a;
    position: absolute;
    margin: 10% 0 0 10%;
  }

  #nastim{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #15b0c9;
    background-color: #2a2a2a;
    position: absolute;
    margin: 22% 0 0 10% ;
  }

  .about-text{
    background-color: #2a2a2a;
    color: #FFF;
    position: absolute;
    margin-top: 35%;
    margin-left: 10%;
    max-width: 70%;
  }
  #team{
  display: none;
  }
  #gallery{
    margin: 0;
    padding: 0;
  }
  .gallery{
    padding: 0;
    width: 100%;
    margin: 0;
      white-space: nowrap;
  }
  .gallery div{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .gallery div img{
    float: left;
    padding: 0;
    white-space: nowrap;
  }

.nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #15b0c9;
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }

  #blog-description{
    display: none;
  }
  .slider{
    width: 100%;
  }

}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
